h1{
    color:cadetblue;
    background-color: black;
    width:350px;
}


ul{
    list-style-type: square;
    background-color: bisque;  
    width: 70px;
    border: 2px solid black;
    outline: 3px dashed gray;

}
ul:hover{
    color: rgb(255, 255, 255);
    background-color: brown;
    list-style-type: circle;
}
ol{
    list-style-type: armenian;
}

ol li{
    display: inline-block;
   border-radius: 20px 40px 10px;
   border-color: blue;
   border-style: solid;
}

ol li:hover{
    background-color: black;
    color: white;
    border-color: red;
}
a{
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    
}

/* Color
0-9
a-f
RGB (red,green,blue)
RGBA(red,green,blue,alpha)
-red= #ff0000
-green= #00ff00
-blue= #0000ff
*/
